@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotoBold.woff2') format('woff2'), url('../fonts/robotoBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotoBlack.woff2') format('woff2'), url('../fonts/robotoBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {/*Medium*/
  font-family: 'Roboto';
  src: url('../fonts/robotoMedium.woff2') format('woff2'), url('../fonts/robotoMedium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotoRegular.woff2') format('woff2'), url('../fonts/robotoRegular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  /* --color-mineShaft: #333; */
  --color-black: #000;/*#000-Gray1*/
  --color-lueViolet: #5d62b5;/*#5d62b5-Primary*/
  --color-tundora: #4b4b4b;/*4B4B4B-Gray*/
  --color-dustyGray: #959595;
  --color-alto: #d5d5d5;/*Gray12*/
  --color-wildSand: #f5f5f5;/*Gray4*/
  --color-froly: #f2726f;/*#f2726f-Secondary, avto-jeka - --color-milanoRed-#c40b0b*/
  --color-milanoRed: #c40b0b;/*auto-jeka*/
  --color-malachite: #21c613;
  --color-java: #28c3bf;
  --color-jungleGreen: #2ab1ad;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  /*Для .wrapper Это будет нужно для footer*/
  height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  /*Общий шрифт 400*/
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-lueViolet);
  background-color: var(--color-wildSand);
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p,
a {
  /* перенос слов */
  word-wrap: break-word;
}

ul {
  list-style: none;
}

/*search(лупа) меняем цвет нативного Х*/
input[type="search"] { 
  padding: 3px;
  color: #053f38;
}
input[type="search"]::-webkit-input-placeholder {
  color: #ccc;
} 
input[type="search"]::-moz-placeholder {
  color: #ccc;
}
/*-//- search(лупа)*/

/*Цвет для всех форм инпутов*/
::placeholder {
  color: var(--color-white);
}
/*-//- Цвет для всех форм инпутов*/

textarea {
  resize: none;
}

button {
  /*Лупа*/
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.btn {
  /*position: relative; Не ставить! Его(бургера меню) потом кнопка не видит.*/
  position: relative;
  vertical-align: top;
  /*box-shadow для .header__bottom-button*/
  box-shadow: 0px 16px 24px transparent;
  top: 0;
  display: flex;
  align-items: center; 
  padding: 13px 33px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--color-froly);
  /*max-width - для резины*/
  max-width: max-content;
  height: max-content;
  font-weight: 700;
  font-size: 12.5px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-froly);
  cursor: pointer;
  text-transform: uppercase;   
  -webkit-transition: border .3s ease-in-out, background-color .3s ease-in-out;
  -moz-transition: border .3s ease-in-out, background-color .3s ease-in-out;
  -ms-transition: border .3s ease-in-out, background-color .3s ease-in-out;
  -o-transition: border .3s ease-in-out, background-color .3s ease-in-out;
  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}

.btn:focus {
  border: 1px solid transparent;
  background-color: var(--color-black);
  outline: none;
}

.btn:hover {
  border: 1px solid transparent;
  background-color: var(--color-tundora);
}

.btn:active {
  top: 4px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  /*1120px = 1020px + 50px + 50px не менять!*/
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 50px;
}

.h2 {
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
}

.h3 { 
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: var(--color-black);
} 

.h4 { 
  font-weight: 900;
  font-size: 19.2px;
  line-height: 26px;
  color: var(--color-froly);
} 

.h5 { 
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.desc-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-tundora);
} 

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*Лайфхак от Жеки. Шаблон микс и модификаторы (_) pattern*/
.pattern__subtitle {
  margin: 0 0 27px -3px;
  padding: 0 0 0 35px;
  font-weight: 700;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  vertical-align: middle;
  background: url("../img/overlineMark-blue.png") top left / 26px no-repeat;
}

.pattern__subtitle_white {
  color: var(--color-white);
  background: url("../img/overlineMark-white.png") top left / 26px no-repeat;
}

.pattern__title {
  position: relative;
  margin: 0 0 36px 0;
  max-width: 583px;
  z-index: 1;/*Для ширины 1024px*/
}

.pattern__title_white {
  color: var(--color-white);
}
/* // Лайфхак от Жеки. Шаблон микс и модификаторы (_) pattern*/

/*.swiper-wrapper {Для компа биб
  height: auto;
}*/

/*** modal-Модальное окно 1440px***/
.modal-dog {  
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  height: 100%;  
  background-color: rgba(51, 51, 51, 0.3);
}

.modal-dog-sps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 624px;
  padding: 116px 30px 75px;
  border-radius: 10px;
  min-width: 260px;
  background-color: var(--color-white);
  opacity: 0;  
  -webkit-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;  
  overflow: hidden; 
}

/*Крест выключатель модального окна*/
.modal-close, .js-modal-close {
  position: absolute;
  outline: none; 
  border: 1px solid transparent; 
  font-size: 25px;
  color: var(--color-lueViolet);
  -webkit-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -o-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
  cursor: pointer;  
}

.modal-close:focus, .js-modal-close:focus {  
  border: 1px solid var(--color-lueViolet);
}

.modal-close:hover, .js-modal-close:hover {
  color: var(--color-white);
  background-color: var(--color-lueViolet);
}

.modal-close:active, .js-modal-close:active {
  opacity: .7;
}
/* // Крест выключатель модального окна*/

/*---Стили формы ошибки, галка, цвет текста в файле doggies-jeka.js(Dop модальное окно) - colorWrong: '#ff6972'---*/
/*** // modal-Модальное окно 1440px***/


/***Шапка header-1440px***/
.header {
  padding: 24px 0 314px;
  max-width: 100%;
  background: url("../img/hero-memDog.jpg") center / cover no-repeat;
  background-color: var(--color-lueViolet);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__top-logo {
  margin-right: auto;
}

.header__top-logo:focus {
  outline: 2px solid var(--color-white);
  outline-offset: 8px;
}

.header__top-list, .header__center-clonList {
  display: flex;
  margin: 0;
  padding: 0;    
}

.header__center-clonList_none1280 {/*?*/
  display: none;
}

.header__top-item, .header__center-clonItem {
  display: flex;
  margin-right: 39px;
}

.header__top-icon, .header__center-clonIcon {
  margin-right: 14px;
  width: 23px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top-icon_one, .header__center-clonIcon_one {
  background-image: url("../img/header-watch.svg");  
}

.header__top-icon_two, .header__center-clonIcon_two { 
  outline: none;
  -webkit-transition: border .4s ease-in-out;
  -moz-transition: border .4s ease-in-out;
  -ms-transition: border .4s ease-in-out;
  -o-transition: border .4s ease-in-out;
  transition: border .4s ease-in-out;
}

.header__top-icon_two:focus svg, .header__center-clonIcon_two:focus svg {
  border: 1px solid var(--color-white);
}

.header__top-icon_two:hover svg, .header__center-clonIcon_two:hover svg {
  border: 1px solid #c40b0b;
}

.header__top-icon_two:active svg, .header__center-clonIcon_two:active svg {
  opacity: .7;
}

.header__top-desc, .header__center-clonDesc {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: var(--color-white);
}

.header__center-clonLink {
  -webkit-transition: opacity .3s ease-in-out; 
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; 
}

.header__center-clonLink:focus {
  border: 1px solid var(--color-white);
}

.header__top-link:hover, .header__center-clonLink:hover {
  opacity: .9;
}

.header__top-link:active, .header__center-clonLink:active {
  opacity: .8;
}

.header__top-block-svg, .header__center-clonBlock-svg {
  margin-left: 5px;
  height: 40px;
}

.header__center-content { 
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 49px 0 41px;
  width: 100%;
  background-color: var(--color-white);
  transform: translateY(43%);
  z-index: 1;  
}

.header__center-nav {
  display: inline-block;
}

.burger {
  position: relative;
  display: none;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.header__center-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;  
}

.header__center-item {
  position: relative;
  margin-right: 44px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__center-item:nth-child(n+2) {
  margin-right: 38px;
}

.header__center-item:nth-child(n+4) {
  margin-right: 45px;
}

.header__center-item:nth-child(n+5) {
  margin-right: 50px;
}

.header__center-item-btn {
  display: flex;
  align-items: center;
  padding: 0;
  outline: none;
  border: 1px solid transparent;  
  font-weight: 700;
  font-size: 14.5px;
  line-height: 22px;
  color: var(--color-lueViolet);
  background-color: transparent;
  cursor: pointer; 
  -webkit-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out; 
}

.header__center-item-btn:focus {
  color: blue;
}

.header__center-item-btn:hover {
  color: red;
}

.header__center-item-btn:active {
  opacity: .7;
}

.header__center-item-btn_after::after {
  content: "";
  display: inline-block;
  margin-top: -2px;
  margin-left: 4px;
  border-top: 1px solid;
  border-right: 1px solid;
  width: 6.5px;
  height: 6.5px;
  color: red;  
  transform: rotate(135deg);
  transition: transform .5s;  
  transition-property: background-color;
  transition: .3s ease-in-out;
}

/*Поворот стрелка*/
.header__center-item-btn_after.active--btn::after {
  content: "";
  margin-top: 6px;
  transform: rotate(317deg);  
}  

.header__center-item_js {
  position: relative;
}

.header__center-item-btn_js:focus-visible {
  outline: 0;
}

.header__center-item-btn_js:active {
  background-color: rgba(0,0,0, 0.2);
}

.header__center-dropdown {
  position: absolute;
  top: 59px;  
  display: none;
  width: max-content;
  color: var(--color-mineShaft);  
  background-color: var(--color-white);
  z-index: 1;
}

.header__center-dropdown-list {
  padding: 0;
}

.header__center-dropdown-item {
  padding: 20px 30px;
}

.header__center-dropdown-item:last-child {
  border: 0;
}

.header__center-dropdown-link {  
  display: block;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
  -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
  -ms-transition: background-color .4s ease-in-out, color .4s ease-in-out;
  -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
  transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.header__center-dropdown-link:focus {
  background-color: green;
  color: var(--color-white);
}

.header__center-dropdown-link:hover {
  background-color: gray;
  color: var(--color-white);
}

.header__center-dropdown-link:active {
  color: var(--color-white);
  opacity: .7;  
}
.active-list--item {
  display: block;
}

.header__center-block {
  display: flex;
  align-items: center;
}

/*Лупа*/
.header__center-form {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  padding: 4px 8px;
  background: transparent;  
}

.header__center-form svg {
  fill: transparent;
  /* margin-top: -5px; */
}

.header__center-search {
  display: block;
  margin-right: 2px;
  padding: 0;
  width: 25px;
  outline: none;
  cursor: pointer;
  -webkit-transition: fill .3s ease-in-out; 
  -moz-transition: fill .3s ease-in-out;
  -ms-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.header__center-search:focus svg path {
  fill: var(--color-froly);
}

.header__center-search:hover svg path {
  fill: var(--color-black);
}

.header__center-search:active svg path {
  opacity: .7;
}

.header__center-input {
  display: none;
  padding-left: 7px;  
  border: none;
  border-bottom: 1px solid var(--color-lueViolet);
  outline: none;
  width: 178px;    
  font-size: 14px;
  color: var(--color-lueViolet);
  caret-color: var(--color-lueViolet);
  background: transparent;  
  -webkit-transition: opacity .3s ease-in-out; 
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; 
}

.header__center-input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-froly);
}

.header__center-input:hover {
  opacity: .7;
}

.header__center-input--active {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;    
}

.header__center-close {    
  position: relative;
  display: none;
  width: 20px;
  height: 20px;
}

.header__center-close-active {
  display: inline-block;
}

.header__center-close-line {
  position: absolute;    
  display: block;
  margin-top: -4px;
  width: 20px;
  height: 2px;
  background-color: var(--color-lueViolet);    
}

.header__center-close-line:first-child {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);    
}

.header__center-close-line:last-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);    
}

.header__center-btn {
  padding: 0;  
  border: none;
  background-color: transparent;  
  outline: none;
  cursor: pointer;
}

/*Лупа-js*/
.search-active {
  margin-right: 17px;
  background: transparent;
  z-index: 1;
}

.header__center-basket {
  position: relative;
  outline: none;
  cursor: pointer;
  -webkit-transition: fill .3s ease-in-out;
  -moz-transition: fill .3s ease-in-out;
  -ms-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.header__center-basket::before {
  content: "2";
  position: absolute;
  display: inline-block;
  vertical-align: top;
  right: 0;
  margin: -7px -1.5px 0 0;
  padding: 5px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-weight: 500;
  font-size: 8px;
  color: var(--color-white);
  background-color: var(--color-froly);
}

.header__center-basket:focus::before {
  background-color: var(--color-black);
} 

.header__center-basket:hover::before {
  background-color: var(--color-tundora);
} 

.header__center-basket:active::before {
  opacity: .7;
}

.header__center-basket:focus svg path {
  fill: var(--color-froly);
}

.header__center-basket:hover svg path {
  fill: var(--color-tundora);
}

.header__center-basket:active svg path {
  opacity: .7;
}

.header__bottom-title {
  margin-bottom: 47px;
  padding-top: 105px;
  width: 567px;
  font-size: 56px;
  line-height: 57px;
  color: var(--color-white);  
}

.header__bottom-button {
  padding: 16px 32px;
  box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.20);  
}
/*** // Шапка header-1440px***/


/***Фото whoweare-1440px***/
.whoweare {
  padding: 0 0 170px 0;  
}

.whoweare__container {
  position: relative;
  margin: 0 auto;
  margin-top: -81px;
  padding: 94px 87px 0 87px;
  border-radius: 40px;
  border: 1px solid transparent;
  max-width: 1020px;  
  color: var(--color-white);
  background-color: var(--color-lueViolet);
}

.whoweare__container::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -8px;
  margin-left: -17px;
  width: 640px;
  height: 447px;
  width: 65.5%;
  height: 65%;
  background: url("../img/whoweare-paytno.png") top / cover no-repeat;
}

.whoweare__container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  margin: -109px -77px 0 0;
  width: 201px;
  height: 317px;
  background: url("../img/stylizeCircles.png") no-repeat;
}

.whoweare__text {
  position: relative;
  margin: 0 0 59px 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  z-index: 1;
}

.whoweare__image {
  margin: 0 0 -120px 0;
  border-radius: 40px;
  box-shadow: 0px 16px 24px 0px rgba(38, 38, 38, 0.20), 0px 8px 16px 0px rgba(38, 38, 38, 0.24);
  width: 100%;
}

.whoweare__image img {
  position: relative;
  display: block;
  border-radius: 40px;
  width: 100%;
  height: 420px;
  background-color: var(--color-alto);
  z-index: 1;
}

.whoweare__image img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 240px;
  height: 240px;
  background: url(../img/gallery-dogSVG.png) center / cover no-repeat;
}
/*** // Фото whoweare-1440px***/

/*** О нас promise-1440px***/
.promise {
  padding: 55px 0 72px;
}

.promise__pattern {
  margin-bottom: 68px;
}

.promise__list {
  padding: 0;
}

.promise__item:not(:last-child) {
  margin-bottom: 20px;
}

.promise__block {
  display: grid;
  grid-template-columns: 67px 1fr;
  grid-gap: 20px;
}

.promise__img {
  width: 66px;
  height: 67px;
  background-size: cover;
  background-repeat: no-repeat;
}

.promise__h4 {
  margin: 5px 0 20px;
}
/*** // О нас promise-1440px***/


/*** Связь connection-1440px***/
.connection {
  padding: 24px 0 170px;
  max-width: 100%;
  background: url("../img/dog-Image.jpg") center / cover no-repeat;
  background-color: var(--color-java);
}

.connection__naLeft {
  margin-left: auto;
  width: 411px;
}

/*Обращение всем(*) кроме последнего объекта в блоке .connection__container*/
.connection__naLeft *:not(:last-child) {
  margin-bottom: 46px;  
}

.connection__title {
  color: var(--color-white);
}

/*Первый в блоке, даже если выше него будут другие теги*/
.connection__title:first-of-type {
  padding-top: 51px;
}

.connection__link {
  padding: 16px 32px;
  box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.20);
}
/*** // Связь connection-1440px***/


/*** О нас services-1440px***/
.services {
  position: relative;
  padding: 107px 0 121px;
}

.services::before {
  content: '';
  position: absolute;
  top: -657px;
  right: 0;
  width: 623px;
  height: 130%;
  background: url("../img/icons-figure/figure-01.png") right / contain no-repeat;
  z-index: -1;
}

.services__pattern {
  margin-bottom: 77px;
}

.services__list {
  margin: 0;
  padding: 0;
}

.services__item {
  margin-right: 20px;  
  margin-bottom: 25px;
  padding: 50px 48px 34px;
  border-radius: 20px;
  /* width: 31.7%; */
  width: 32%;
  background-color: var(--color-white);  
  z-index: 5;/*Для картинки png*/ 
  -webkit-transition: box-shadow .4s ease-in-out; 
  -moz-transition: box-shadow .4s ease-in-out; 
  -ms-transition: box-shadow .4s ease-in-out; 
  -o-transition: box-shadow .4s ease-in-out; 
  transition: box-shadow .4s ease-in-out; 
}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.services__item:hover, .services__item--active {
  box-shadow: 0 8px 16px 0 rgba(38, 38, 38, 0.2);
}

/*Ещё(Смотреть больше товаров) button-1920px*/
.services__item_js {
  -webkit-transition: opacity 0.2s linear, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s linear, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s linear, transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s linear, transform 0.2s ease-in-out;
  transition: opacity 0.2s linear, transform 0.2s ease-in-out;
}

.services__item:nth-child(n+9) {
  display: none;
}

.services__item:nth-child(-n+6) {
  display: inline-flex;
}
/* // Ещё(Смотреть больше товаров) button-1440px*/

.services__img {
  margin: 0 auto;
  width: 66px;
  height: 67px;
}

.services__h4 {
  margin-top: 29px;
  margin-bottom: 20px;
  text-align: center;
}

.services__desc {
  text-align: center;
}

.services__btn {
  margin: 45px auto 0;
  padding: 17px 22px;
}

.services__btn:focus {
  outline: 1px solid var(--color-lueViolet);
}

.services__btn:hover {
  background-color: #d52828;
}

.services__btn:active {
  background-color: #d00c0c;
}
/*** // О нас services-1440px***/


/*** Форма регистрация recording-1440px***/
.recording {
  position: relative;
  padding: 131px 0 207px;
  background: url("../img/recording-img.jpg") center / cover no-repeat;
  background-color: var(--color-lueViolet);
}

.recording__container {
  display: grid;
  grid-template-columns: 1fr 351px;
  padding: 0 50px;
}

.recording__left {
  margin-right: auto;
  padding: 34px 57px 77px; 
  border-radius: 40px; 
  background-color: var(--color-lueViolet);
  z-index: 5;
}

.recording__h3 {
  margin-bottom: 44px;
  text-align: center;
  line-height: 50px;
  color: var(--color-white);
}

/*---Телефон валидация и маска---*/
.recording__form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
}

.recording__block {
  display: grid;
  grid-template-columns: repeat(2, 225px);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 21px;
  margin-bottom: 19px;
}

/*Для формы отправки*/
.form__label {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
/* // Для формы отправки*/

.recording__input {
  padding: 16px 22px 12px;
  border-radius: 10px;
  border: 2px solid var(--color-white);
  width: 100%;
  color: rgb(186, 180, 180);
  background-color: transparent;
  -webkit-transition: border .4s ease-in-out;
  -moz-transition: border .4s ease-in-out;
  -ms-transition: border .4s ease-in-out;
  -o-transition: border .4s ease-in-out;
  transition: border .4s ease-in-out;
}

.recording__input:focus {
  outline: none;
  border: 2px solid rgb(186, 180, 180);
}

.recording__input:hover {
  border: 2px solid var(--color-froly);
}

.recording__input:active {
  opacity: .6;
}

.recording__form-label {
  margin-bottom: 25px;
}

/***Стилазация фразы ошибки***/
.recording__label {/*общий*/
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: -21px; 
}
/***Конец стилазация фразы ошибки***/

.recording__textarea {
  padding: 13px 22px;
  border-radius: 10px;
  border: 2px solid var(--color-white);
  width: 100%;
  height: 183px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: border .4s ease-in-out;
  -moz-transition: border .4s ease-in-out;
  -ms-transition: border .4s ease-in-out;
  -o-transition: border .4s ease-in-out;
  transition: border .4s ease-in-out;
}

.recording__textarea:focus {
  outline: none; 
  border: 2px solid var(--color-dustyGray);
}

.recording__textarea:hover {
  border: 2px solid var(--color-froly);
}

.recording__textarea:active {
  opacity: .6;
}

.recording__button {
  margin-left: auto;
  padding: 17px 32px;
}

.recording__button:focus {
  outline: 1px solid var(--color-lueViolet);
}

.recording__button:hover {
  background-color: #d52828;
}

.recording__button:active {
  background-color: #d00c0c;
}

.recording__right {
  padding: 137px 5px 137px 31px;
  color: var(--color-white);
  text-align: center;
}

.recording__h3-white {
  margin-bottom: 62px;
  font-size: 30px;
  line-height: 36px;
  color: var(--color-white);
}

.recording__h2 {  
  margin: 0 0 63px;
  font-size: 96px;
  line-height: 56px;
}

.recording__h4 {
  color: var(--color-white);
}

/*** modal-Модальное окно 1920px***/
.recording__dog {
  position: fixed;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.recording__dog::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.recording__dog-png {
  width: 135px;
  height: 145px;
  background-image: url("../img/icons-dog/dog-08.png") right / contain no-repeat;
  /*Для codepen
  background-image: url("https://hohrin.expert/wp-content/uploads/2022/04/3.png") right / contain no-repeat;*/
}

.recording__modal-h2 {
  margin-top: 0;
  margin-bottom: 70px;
  /*У h2 стоит bold*/
  font-weight: 400;
  font-size: 32px;
}

.recording__modal-close {  
  top: 15px;
  right: 15px;
}

.recording__dog_js {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;/*Для js перекрыть .modal*/
}

.recording__dog_js_active {
  visibility: visible;
  opacity: 1;
}

 .recording__dog-sps_js {
  display: none;
  opacity: 0;
}

 .recording__dog-sps_js_active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*** // modal-Модальное окно***/
/*** // Форма регистрация recording-1440px***/


/*** Картинка и ТАБ gallery-1440px***/
.gallery {
  position: relative;
  padding: 0 0 90px 0;
}

.gallery__container {
  position: relative;
  margin: 0 auto;
  margin-top: -77px;
  padding: 93px 87px 56px 86px;
  border-radius: 40px;
  border: 1px solid transparent;
  max-width: 1020px;  
  height: max-content;
  /* color: var(--color-white); */
  background-color: var(--color-lueViolet);
}

.gallery__pattern {
  margin-bottom: 59px;
}

.gallery__list {
  display: flex;
  margin: 0 0 50px;
  padding: 0 0 0 4px;
  border-bottom: 1px solid gray;
}

.gallery__item {
  position: relative;
}

.gallery__item:not(:last-child) {
  margin-right: 30px;
}

.gallery__button {
  position: relative;
  padding: 0 37px 15px;
  border-bottom: 3px solid transparent;
  width: max-content;
  color: var(--color-white);
  -webkit-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

.gallery__button::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 2px;
  width: 100%;
  border: 3px solid transparent;
  color: var(--color-white);
}

.gallery__button:focus {
  font-weight: 700;
  outline: none;
}

.gallery__button:hover {
  opacity: .8;
}

.gallery__button:active {
  opacity: .7;
}

.is-active.on::before {/* Зелённый */
  top: -10px;
  background-color: var(--color-malachite);
  z-index: 1;
}

.is-active.gallery__button::after {
  border-bottom: 3px solid var(--color-white);  
}

.is-active.gallery__button {
  color: var(--color-white); 
  }

.is-active.on::before, .gallery__off {
  content: "";
  position: absolute;
  right: 26px;
  width: 7px;
  height: 7px;
  border: 2px solid transparent;
  border-radius: 50%; 
} 

.gallery__off {/*Серый*/
  top: -7px;
  background-color: var(--color-alto);
  z-index: 0;
} 

.gallery__bay {
  position: relative;
  /* margin-bottom: -120px; */
}

/*Табы - Каталок фотографий*/
.gallery__bay.tab-content {
  display: none;
}

.gallery__bay.tab-content-active {
  position: relative;
  display: block;
}
/* -//- Табы - Каталок фотографий*/

.gallery__bay-grid {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  grid-template-rows: repeat(3, 120px);
  gap: 25px;
}

.gallery__bay-img {
  padding: 0;
  width: 100%;
  height: 100%;
}

/*Картинка в zoom-e 1440px*/
.zoom {
  cursor: pointer;
  -webkit-transition: all 0.85s ease;
  transition: all 0.85s ease;
}

.zoom:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
  -webkit-transform: translate(50%, 50%) scale(2.5);
  transform: translate(50%, 50%) scale(2.5);
}

.zoom:nth-child(4n):hover {/*Каждый четвёртый*/
  -webkit-transform: translate(-50%, 50%) scale(2.5);
  transform: translate(-50%, 50%) scale(2.5);
}
/* // Картинка в zoom-e 1440px*/

/*Кнопка "Показать другие видео"*/
.gallery__bay_video iframe .ytp-button {
  display: none;
}
/*Кнопка "Показать другие видео"*/

.gallery__bay_video .iframe{
  margin: 0 auto;
  width: max-content;/*На эту ширину кнопка Ютюба реагирует*/
}

.gallery__bay-imgWidth {
  position: relative;
  display: block;
  margin-bottom: -120px;
  border-radius: 40px;
  box-shadow: 0px 16px 24px 0px rgba(38, 38, 38, 0.20), 0px 8px 16px 0px rgba(38, 38, 38, 0.24);
  width: 100%;
  height: 480px;
  background-color: var(--color-alto);
}

.gallery__bay-imgWidth::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 240px;
  height: 240px;
  background: url("../img/gallery-dogSVG.png") center / cover no-repeat;
}

.gallery__span {
  position: absolute;
  top: 31px;
  right: 32px;
  padding: 1.5px 9px;
  border: 1px solid var(--color-malachite);
  color: var(--color-white);
  background-color: var(--color-malachite);  
  transition: .5s;
  cursor: pointer;
}

.gallery__span:hover {
  -webkit-transform: scale(1.2);
  -ms-ransform: scale(1.2);
  transform: scale(1.2);
}

.gallery__span:active {
  border: 1px solid var(--color-lueViolet);
}

.gallery__button-hide {
  display: none;
}
/*** // Картинка и ТАБ gallery-1440px***/

/*** Отзывы клиентов customers-1440px***/
.customers {
  position: relative;
  padding: 88px 0 210px;
}

.customers::before {
  content: '';
  position: absolute;
  left: -266px;
  bottom: 18px;
  width: 1202px;
  height: 1541px;
  background: url("../img/icons-figure/figure-02.png") bottom / contain no-repeat;
  z-index: -1;
  transform: rotate(360deg);
}

.customers__container {
  display: grid;
  grid-template-columns: 290px 1fr;
  gap: 57px;
}

.customers__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
  margin: 5px 0 0;
  padding: 0;
}

.customers__item {
  position: relative;
  padding: 28px 47px 112px 46px;
  border-radius: 20px;
  background-color: var(--color-white);
}

.customers__info {
  position: absolute;
  bottom: 39px;
  display: inline-flex;
  align-items: center;
}

.customers__info img {
  margin-right: 15px;
}
/*** // Клиенты customers-1440px***/

/*** Услуги impacts-1440px***/
.impacts {
  position: relative;
  padding: 105px 0 196px;
  background-color: var(--color-jungleGreen);
  z-index: 1;
}

.impacts__container {
  position: relative;
}

.impacts__container::before {
  content: '';
  position: absolute;
  top: -105px;
  right: -257px;
  width: 100%;
  height: 105%;
  background: url("../img/icons-figure/figure-03.png") top / contain no-repeat;
  z-index: -1;
}

.impacts__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.impacts__pattern {
  max-width: 485px;
}

.impacts__title {
  margin-top: 0;
  width: 410px;
  color: var(--color-white);
}

.impacts__img {
  margin-top: -186px;
  border-radius: 40px;
  width: 498px;
  height: 315px;
} 

.impacts__img img {
  border-radius: 44px;
}

.impacts__list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 6px;
  padding: 0;
}

.impacts__item {
  display: flex;
}

.impacts__image {
  margin-right: 11px;
}

.impacts__block {
  padding-top: 4px;
}

.impacts__title-icon {
  margin: 0;
  margin-bottom: 3px;
  color: var(--color-white);
}

.impacts__desc {
  margin: 0;
  max-width: 127px;
}
/*** // Услуги impacts-1440px***/

/*** Кнопка встречи conventus-1440px***/
.conventus {
  position: relative;
  margin-top: -78px;
  padding: 0 0 46px;
  z-index: 1;
}

.conventus__container {
  padding: 44px 76px 48px 70px;
  border-radius: 20px;
  width: 70.8%;
  background-color: var(--color-lueViolet);
}

.conventus__block {
  display: flex;
  justify-content: space-between;
}

.conventus__desc {
  margin: 0 20px 0 0;
  width: 502px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}

.conventus__button {
  margin-top: 6px;
  padding: 17px 32px;
  min-width: 210px;
}

.conventus__button:focus {
  outline: 1px solid var(--color-lueViolet);
}

.conventus__button:hover {
  background-color: #e90606;
}

.conventus__button:active {
  background-color: #d00c0c;
}
/*** // Кнопка встречи conventus-1440px***/


/*** Подвал footer-1440px***/
.footer {
  padding: 42px 0 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__top {
  padding-bottom: 98px;
}

.footer__container_grid {
  display: grid;
  grid-template-columns: 232px 248px 248px;
  justify-content: space-between;
  padding: 0 88px 0 50px;
}

.footer__logo:focus {
  outline: 2px solid var(--color-lueViolet);
  outline-offset: 8px;
}

.footer__desc {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 23px;
  color: var(--color-tundora);
}

.footer__nav {
  width: 275px;
}

.footer__list-icone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__item-icone {
  width: 24px;
  height: 24px;
}

.footer__item-icone:not(:last-child) {
  margin-right: 18px;
}

.footer__link-icone {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}

.footer__link-icone svg {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.footer__link-icone:focus svg path {
  fill: var(--color-tundora);
}

.footer__link-icone:hover svg path {
  outline: 1px solid var(--color-froly);
  outline-offset: 4px;
  fill: var(--color-milanoRed);
}

.footer__link-icone:active svg {
  opacity: .5;
}

.footer__center-desc {
  margin-top: 13.5px;
  margin-bottom: 27px;
  color: var(--color-tundora);
}

.footer__center-block {
  display: flex;
  justify-content: space-between;
}

.footer__center-list {  
  margin: 0;
  padding: 0;
}

.footer__center-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__center-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-tundora);
  cursor: pointer;
  -webkit-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

.footer__center-link:focus {
  color: var(--color-white);
  background-color: var(--color-froly);
  outline: none;
}

.footer__center-link:hover {
  color: var(--color-froly);
  background-color: transparent;
  text-decoration: underline;
}

.footer__center-link:active {
  opacity: .7;
}

.footer__right {
  margin-left: 47px;
}

.footer__right-desc {
  margin-top: 14.5px;
  margin-bottom: 28px;
  color: var(--color-tundora);
}

.footer__right-list {
  margin: 0;
  padding: 0;
}

.footer__right-item:not(:last-child) {
  margin-bottom: 17px;
}

.footer__right-link {
  display: grid;
  grid-template-columns: 16px 188px;
  gap: 20px;
  outline: none;
}

.footer__right-link svg {
  display: block;
  cursor: pointer;
  -webkit-transition: fill .4s ease-in-out;
  -moz-transition: fill .4s ease-in-out;
  -ms-transition: fill .4s ease-in-out;
  -o-transition: fill .4s ease-in-out;
  transition: fill .4s ease-in-out;
}

.footer__right-link:focus svg path {
  fill: var(--color-tundora);
}

.footer__right-link:hover svg path {
  fill: var(--color-milanoRed);
}

.footer__right-link:active svg path {
  opacity: .5;
}

.footer__right-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-tundora);
}

.footer__bottom {
  padding: 9px 0;
  background-color: var(--color-lueViolet);
}

.footer__container_bottom {
  padding: 0 19px;
}

.footer__bottom-desc {
  font-size: 12.2px;
  line-height: 18px;
  color: var(--color-dustyGray);
}

.footer__bottom-span {
  margin: auto 0;
  font-size: 12.7px;
  line-height: 18px;
  color: var(--color-dustyGray);
}

/* Стили для модального окна - footer__modal */
.footer__overlay {  
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;  
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  opacity: 0;
  transition: .4s all;
  z-index: 20;
}

.footer__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);   
  width: 700px;
  text-align: center;
  background-color: #fff;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  z-index: 30; /* Должен быть выше чем у подложки*/  
}

/* Стили для активных классов подложки и окна */
.footer__modal.active,
.footer__overlay.active{
  visibility: visible;
  opacity: 1;  
}

.footer__modal-block-watch {
  color: var(--color-tundora);
}

/* Стили для кнопки закрытия */
.footer__modal-close {
  top: 20px;
  right: 20px;

  /* position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px; */
}

.footer__modal-close:focus {
  border: 1px solid var(--color-tundora);
}

.footer__modal_width {
  width: 450px;
}
/* // Стили для модального окна - footer__modal */

.footer__modal-title {
  margin-top: 0;
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-tundora);
}

.footer__map {
  width: 100%; 
  height: 400px;
  /*Чтобы карта не выходила за пределы блока*/
  overflow: hidden;
}

.footer__modal-title_weight {
  margin-top: 25px;
  font-size: 23px;
  font-weight: 700;
}

/* Стили для Часов */
.footer__modal-clock {
  display: grid;
  grid-template-columns: 32px 15px 32px;
  gap: 1px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 82px;
  font-size: 25px;
  text-align: center;
}

.footer__modal-block-grid {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 auto;
  margin-bottom: 2px;  
  width: 202px;  
}

.footer__modal-date {
  display: inline-block;
  width: 25px;
  font-size: 18px;
  text-align: center;
}

.footer__modal-month, .footer__modal-weekly {
  font-size: 18px;
}

.footer__modal-year {
  margin: 0 auto;
  padding: 2px;
  font-size: 16px;
  text-align: center;
}
/* // Стили для Часов */
/*** // Подвал footer-1440px***/


@media (max-width: 1280px) {
  .header {
    padding-bottom: 100px;
  }  

  .header__bottom-title {
    padding-top: 70px;
  }  

  .whoweare__container {
    margin-top: -40px;
  }


  .about {
    padding: 40px 0 90px;
  }
  
  .promise__list {
    margin: 0;
  }

  .about__bottom {
    padding-top: 60px;
  }
  
  .services__list {
    padding: 0;
  }

  .services__item {
    margin-right: 20px;
    width: 46%;
  }  

  .services__item:nth-child(2n) {
    margin-right: 0;
  }

  .services__item:nth-child(3n) {
    margin-right: 20px;
  }

  /*Картинка в zoom-e 1280px*/
  .zoom:hover {
    -webkit-transform: translate(50%, 50%) scale(2);
    transform: translate(50%, 50%) scale(2);
  }

  .zoom:nth-child(4n):hover {/*Каждый четвёртый*/
    -webkit-transform: translate(-50%, 50%) scale(2);
    transform: translate(-50%, 50%) scale(2);
  }
  /* // Картинка в zoom-e 1280px*/


  .impacts__container::before {
    right: -20%;
    width: 95%;
    height: 95%;
  }


  .conventus__container {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  ._container {
    padding: 0 40px;
  }

  /***Шапка header-1024px***/
  .header {
    padding: 24px 0 80px;
    background-position: right;
  }

  .header__top-link {
    display: none;
  }

  .header__center-content {
    padding: 10px 17px;
  }

  /*JS для burger-а*/
  .menu {
    /*Скрывает меню*/
    transform: translateX(-300%);
  }

  .menu.is-active {
    /*is-active js*/
    transform: none;
  }

  .burger {
    display: block;
    outline: none;
    width: 17px;
    height: 15px;
    cursor: pointer;    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;    
  }
  
  .burger span {
    display: block;
    position: absolute;
    width: 8.5px;
    height: 2px;    
    background-color: var(--color-froly);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }

  .burger:focus span {
    background-color: var(--color-black);
  }

  .burger:hover span {
    background-color: #c40b0b;
  }
  
  .burger:active span {
    opacity: .7;
  }
  
  .burger span:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .burger span:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .burger span:nth-child(3) {
    top: 7px;
    left: 0;
  }

  .burger span:nth-child(4) {
    top: 7px;
    right: 0;
  }
  
  .burger span:nth-child(5) {
    left: 0;
    bottom: 0;
  }

  .burger span:nth-child(6) {
    right: 0;
    bottom: 0;
  }

  .burger.open {
    width: 17px;
    height: 17px;    
  }

  .burger.open span {
    width: 7.5px;
  }
  
  .burger.open span:nth-child(1),.burger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .burger.open span:nth-child(2),.burger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .burger.open span:nth-child(1) {
    left: 2px;
    top: 5px;
  }
  
  .burger.open span:nth-child(2) {
    left: 6px;
    top: 5px;
  }
  
  .burger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  .burger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  .burger.open span:nth-child(5) {
    left: 2px;
    top: 10px;
  }
  
  .burger.open span:nth-child(6) {
    left: 6px;
    top: 10px;
  } 

  .header__block-menu {
    position: absolute;
    top: 55px;
    /* margin-left: -17px; */
    padding: 0 50px 10px;
    z-index: 16;
  }

  .header__center-nav {
    position: relative;
    display: flex;
  }

  .header__center-list {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    margin-left: -67px;
    padding: 0 40px 0 20px;
    z-index: 1;
    background-color: var(--color-white);
  }

  .header__center-dropdown {
    top: 8px;
    left: 108px;
  }

  .header__center-item, .header__center-item:nth-child(n+2), .header__center-item:nth-child(n+4) {
    margin-right: 0;
  }

  .header__bottom-title {
    padding-top: 55px;
    width: 100%;
  }
  /*** // Шапка header-1024px***/
  

  .about__top {
    padding-bottom: 42px;
  }

  .about__center {
    padding: 20px 0 111px;
    background-image: url(../img/dog-Image-1024px.jpg);
  }  
 

  .whoweare {
    padding-bottom: 100px;
  }

  .whoweare__container {
    margin-top: 0;
    padding: 40px;
    border-radius: 0;
  }

  .whoweare__container::before {
    display: none;
  } 

  .whoweare__text {
    margin-bottom: 40px;
  } 


  .recording {
    padding: 100px 0;
    background-image: url("../img/recording-img-1024.jpg");
    background-position: right bottom;
  } 

  .recording__container {
    display: block;
  }

  .recording__left {
    margin-bottom: 77px;
  }  

  .recording__block {
    grid-template-columns: repeat(2, 48.5%);
  } 

  .recording__right {
    padding: 0 0 77px;
  } 

  .recording__dog-sps {
    flex-basis: 424px;
  }  


  .gallery {
    padding: 0 0 80px 0;
  }

  .gallery__container {
    padding: 40px;
  }

  .gallery__list {
    margin-bottom: 50px;
    padding: 0;
  }  

  .gallery__item:not(:last-child) {
    margin-right: 20px;
  }

  .gallery__button {
    padding: 0 17px 2px;
  }  

  .gallery__bay-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 190px);
  }

  /*Картинка в zoom-e 1024px*/
  .zoom:hover, .zoom:nth-child(4n):hover {/*Каждый четвёртый*/
    -webkit-transform: translate(50%, 50%) scale(2);
    transform: translate(50%, 50%) scale(2);
  }

  .zoom:nth-child(3n):hover {/*Каждый четвёртый*/
    -webkit-transform: translate(-50%, 50%) scale(2);
    transform: translate(-50%, 50%) scale(2);
  }
  /* // Картинка в zoom-e 1024px*/


  .customers {
    padding: 80px 0;
  }

  .customers::before {
    left: -230px;
    bottom: 0;
    width: 1000px;
    height: 1300px;
  }

  .customers__container {
    grid-template-columns: 1fr;
    gap: 15px;
  }


  .impacts {
    padding: 70px 0;
  }

  .impacts__container::before {
    display: none;
  }

  .impacts__top {
    margin-bottom: 20px;
  }

  .impacts__img {
    margin-top: -111px;
    width: 383px;
    height: 280px;
  }

  .impacts__title-icon {
    font-size: 26px;
    line-height: 32px;
  }

  .impacts__desc {
    max-width: 100%;
    font-size: 14px;
  }


  .conventus {
    margin-top: -57px;
    padding: 20px 0;
  }

  .conventus__block {
    padding: 35px;
  }
  
  .footer {
    padding: 35px 0 0;
  }

  .footer__top {
    padding-bottom: 70px;
  }

  .footer__container_grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    gap: 50px;
  }

  .footer__item-icone:not(:last-child) {
    margin-right: 10px;
  }

  .footer__right {
    margin-left: 0;
  }

  .footer__right-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer__right-link {
    grid-template-columns: 16px 1fr;
    gap: 10px;
  }
}

@media (max-width: 888px) { 
  .whoweare__image img {
    height: 280px;
  }

  .whoweare__image img::before {
    width: 140px;
    height: 140px;
  }


  .gallery {
    padding: 0 0 50px 0;
  }

  .gallery__bay-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 165px);
  }

  .gallery__bay_width1024px {
    margin: 0 auto;
  }   

  .gallery__bay-imgWidth {
    margin-bottom: -80px;
    height: 280px;
  }  

  .gallery__bay-imgWidth::before {
    width: 140px;
    height: 140px;
  }  


  .customers {
    padding: 50px 0;
  }

  .customers__list {
    grid-template-columns: repeat(1, 380px);
    gap: 20px;
    margin: 0 auto;
  }


  .impacts {
    padding: 50px 0;
  }

  .impacts__top {
    margin-bottom: 20px;
  }

  .impacts__block {
    margin-top: -6px;
    padding-top: 0;
  }

  .impacts__title {
    width: 100%;
  }
  
  .impacts__list {
    grid-template-columns: repeat(2, 50%);
    gap: 30px 20px;
  }

  .impacts__img {
    display: none;
  }


  .conventus {
    margin-top: -20px;
    padding: 0 0 31px;
  }

  .conventus__block {
    display: block;
    padding: 25px;
  }

  .conventus__desc {
    margin: 0 0 30px 0;
    width: 100%;
  }

  .footer {
    padding: 30px 0 0;
  }

  .footer__container_grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer__left {
    width: 350px;
  }

  .footer__desc {
    margin-bottom: 20px;
  }

  .footer__center-desc, .footer__right-desc {
    margin-bottom: 20px;
  }

  .footer__center-block {
    justify-content: start;
  }
  
  .footer__center-list:not(:last-child) {
    margin-right: 50px;
  }

  .footer__center-desc, .footer__right-desc {
    margin-bottom: 20px;
  }

  .footer__modal {
    padding: 20px;
    width: 400px;
  }

  .footer__map {
    height: 260px;
  }

  .footer__container_bottom {
    display: block;
    justify-content: end;
  }

  .footer__bottom-desc {
    margin-bottom: 25px;
  }

  .footer__bottom-span {
    display: flex;
    justify-content: end;
  }
}

@media (max-width: 696px) {
  ._container {
    padding: 0 30px;
  }

  .h3 {
    max-width: 100%;
    font-size: 26px;
    line-height: 1.2;
  }

  .h4 {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.2;
  }

  .js-validate-error-label {
    top: -19px;
    left: 7px;
    font-size: 12px;
  }

  .pattern {
    margin-bottom: 0;
  }

  .pattern__subtitle {
    margin: 0 0 17px 0;
    padding: 0 0 0 30px;
    letter-spacing: 2px;
  }  

  .pattern__title {
    margin-bottom: 26px;
  }  
  

  /*** Шапка header-696px***/
  .header {
    background-position: 76% center;
  }
  .header__container {
    align-items: start;
    flex-direction: column;
  }

  .header__top-logo {
    margin: 0 auto;
  }

  .header__top-list {
    display: none;
  }

  .header__top-item, .header__center-clonItem {
    margin-right: 0;
  }

  .header__center-clonList_none1280 {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 39px;
  }
  /*** // Шапка header-696px***/


  .whoweare {
    padding-bottom: 50px;
  }

  .whoweare__container {
    padding: 50px 30px 30px;
  }

  .whoweare__container::after {
    margin: -70px 0 0 0;
    width: 117px;
    height: 313px;
  }  

  .whoweare__image {
    margin: 0 0 -70px 0;
  }  

  .whoweare__image img {
    border-radius: 20px;
    height: 200px;
  }

  .promise {
    padding-bottom: 32px;
  }

  .connection {
    padding: 132px 0 30px;
    background-image: url("../img/dog-Image-1024px.jpg");
    background-position: 115%;
  }

  .connection__naLeft {
    width: 240px;
  }

  .connection__naLeft *:not(:last-child) {
    margin-bottom: 25px;
  }

  .promise__list .col-sm-6 {
    width: 100%;
  }

  .services {
    padding: 70px 0;
  }

  .services__pattern {
    margin-bottom: 40px;
  }

  .services__list {
    margin-bottom: 15px;
  }

  .services__item, .services__item:nth-child(3n) {
    margin-right: 0;
    width: 100%;
  }

  .services__btn {
    margin-top: 25px;
  }

  .recording {
    padding: 80px 0 40px;
  }  

  .recording__left {
    margin-right: 0;
    padding: 25px 40px 47px;
    border-radius: 30px;
  }

  .recording__h3 {
    margin: 0 0 30px;
  }  

  .recording__button {
    margin-left: auto;
    padding: 17px 22px;
  }

  .recording__right {
    padding: 0;
  }

  .recording__block {
    display: block;
  }

  .recording__label {
    display: block;
  }

  .recording__input {
    margin-bottom: 20px;
    padding: 10px 16px;
    font-size: 13px;
  }

  .recording__textarea {
    padding: 10px 16px;
    font-size: 13px;
  }  

  .recording__dog-sps {
    flex-basis: 224px;
  }

  .recording__h3-white {
    margin-bottom: 40px;
  }

  .recording__h2 {
    margin: 0 0 40px;
    font-size: 86px;
    line-height: 1;
  }

  .gallery__container {
    margin: 0;
    padding: 35px 30px;
    border-radius: 0;
  }

  .gallery__pattern {
    margin-bottom: 40px;
  }

  .gallery__list {
    margin-bottom: 25px;
    padding-bottom: 10px;
    flex-wrap: wrap;
  }

  .gallery__item:not(:last-child) {
    margin: 0 10px 10px 0;
  }

  .gallery__button {
    padding-left: 0;
  }

  .gallery__button::after {
    display: none;
  }

  .gallery__bay-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 140px);
  }

   /*Картинка в zoom-e 696px*/
  .zoom:nth-child(odd):hover {
    -webkit-transform: translate(50%, 50%) scale(1.5);
    transform: translate(50%, 50%) scale(1.5);
  }

  .zoom:nth-child(even):hover {
    -webkit-transform: translate(-50%, 50%) scale(1.5);
    transform: translate(-50%, 50%) scale(1.5);
  }

  .zoom:nth-child(5):hover, .zoom:nth-child(7):hover, .zoom:nth-child(9):hover {
    -webkit-transform: translate(50%, -50%) scale(1.5);
    transform: translate(50%, -50%) scale(1.5);
  }

  .zoom:nth-child(6):hover, .zoom:nth-child(8):hover, .zoom:nth-child(10):hover {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }
   /*Картинка в zoom-e 696px*/
   
  .gallery__bay-imgWidth {
    margin-bottom: -60px;
    border-radius: 20px;
    height: 200px;
  }

  .gallery__span {
    top: 15px;
    right: 25px;
    padding: 1px 7px;
    font-size: 14px;
  }

  .gallery__bay_video .iframe {
    width: 100%;
  }

  .gallery__bay_video iframe {
    width: 100%;
    height: 280px;
  }


  .conventus {
    margin-top: 0;
    padding: 0 0 20px;
  }

  .conventus__container {
    border-radius: 0;
    width: 100%;
  }

  .conventus__block {
    display: block;
    padding: 25px 0;
  }
}


@media (max-width: 484px) {
  ._container {
    padding: 0 15px;
  }

  .whoweare__container {
    padding: 50px 15px 20px;
  }

  .whoweare__image img {
    width: 100%;
    height: 150px;
  }

  .whoweare__image img::before {
    width: 100px;
    height: 100px;
  }
  
  .connection__naLeft {
    width: 100%;
  }  

  .connection {
    padding: 106px 0 31px;
    background-position: center;
  }


  .recording__left {
    padding: 25px 25px 40px;
  }


  .gallery {
    padding: 35px 0 45px;
  }

  .gallery__container {
    padding: 20px 15px;
  }

  .gallery__bay-grid {
    display: block;
  }

  .gallery__bay-img:not(:last-child) {
    margin-bottom: 25px;
  }

   /*Картинка в zoom-e 484px*/
  .zoom:hover, .zoom:nth-child(odd):hover, .zoom:nth-child(even):hover {
    box-shadow: inherit;
    -webkit-transform: none;
    transform: none;
  }
   /*Картинка в zoom-e 484px*/

  .gallery__bay-imgWidth {
    width: 100%;
    height: 150px;
  }

  .gallery__span {
    top: 10px;
    right: 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .gallery__bay_video iframe {
    height: 200px;
  }

  .gallery__bay-imgWidth::before {
    width: 100px;
    height: 100px;
  }  

  .gallery__bay_width1024px {
    width: 100%;
  }


  .customers {
    padding: 35px 0 50px 0;
  }

  .customers::before {
    left: -30px;
    bottom: 0;
    width: 100%;
    height: 1100px;
    transform: rotate(0deg);
  }

  .customers__title {
    margin-bottom: 10px;
  }

  .customers__list {
    grid-template-columns: repeat(1, 1fr);
  }


  .impacts {
    padding: 30px 0;
  }

  .impacts__list {
    gap: 25px 5px;
  }

  .impacts__image img {
    width: 40px;
    height: 40px;
  }

  .conventus__button {
    width: 100%;
  }


  .footer {
      padding: 15px 0 0;
  }

  .footer__center-desc, .footer__right-desc {
    margin-bottom: 10px;
  }

  .footer__center-block {
      display: block;
  }

  .footer__center-list {
      display: flex;
  }

  .footer__center-list:not(:last-child) {
      margin-right: 0;
  }

  .footer__center-item:not(:last-child) {
    margin-right: 25px;
  }

  .footer__center-desc, .footer__right-desc {
      margin-bottom: 10px;
  }

  .footer__modal {
      width: 100%;
  }

  .footer__bottom {
    padding-bottom: 30px;
  }
}




